bcrypt==4.3.0
blinker==1.9.0
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
filelock==3.19.1
Flask==3.1.1
psycopg2-binary==2.9.9
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.1
MarkupSafe==3.0.2
packaging==25.0
pillow==11.2.1
psutil==7.0.0
PyJWT==2.10.1
python-docx==1.2.0
python-dotenv==1.1.1
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.4
six==1.17.0
tqdm==4.67.1
transformers==4.55.4
typing_extensions==4.15.0
urllib3==2.5.0
Werkzeug==3.1.3

