<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>blogadmin</title>
</head>
<body>
    <div id="header" class="hero">
        <h1>MBlog</h1>
        <nav class="navbar">
        <a href="{{url_for('home')}}" class="nav-link" >Home</a>
        <a href="{{url_for('posts')}}" class="nav-link">Posts</a>
        <a href="{{url_for('projects')}}" class="nav-link">Projects</a>
        <a href="{{url_for('about')}}" class="nav-link">About</a>
        <a href="{{url_for('admin')}}" class="nav-link" id="current">admin</a>
        </nav>
    </div>
    <div id="postsdiv">
        {% for post in posts%}
        <div id='post-{{post[0]}}' class="posts">
            <h3>post-{{post[0]}}</h3>
            <h2>{{ post[1] }}</h2>
            <p>{{ post[2] | truncate(450, True, '...')}} <button id="seemore" onclick="ScalePost('{{post[0]}}')">see more</button></p>
            <button onclick="UpdateForm('{{post[0]}}')">Update</button>
            <button id="open-popup" onclick="DeletePopUp('{{post[0]}}')">Delete</button>
        </div>
        {% endfor %}
    </div>
    <div id="popup" class="popup" style="display: none;">
        <div class="popup-content">
            <p>Are you sure you want to delete this post?</p>
            <button id="YesBtn">Yes</button>
            <button id="NoBtn">No</button>
        </div>
    </div>
        <hr>

    <div id="addContainer">
        <button onclick="PostForm()">+</button>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>