<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Admin login page</title>
</head>
<body>
    <div id="Alogindiv">
        <label for="name">Username</label>
        <input type="text" name="name" id="Euser">
        <label for="password">Password</label>
        <input type="password" name="password" id="Epassword" style="margin-bottom: 20px;"></br>
        <button onclick="SubmitLoginInfo()">Submit</button>
        <button onclick="window.location.href='/';">cancel</a>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>