<!DOCTYPE html>
<html>
<head>
    <title>MBlog</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="header" class="hero">
        <h1>MBlog</h1>
        <nav class="navbar">
        <a href="{{url_for('home')}}" class="nav-link" id="current">Home</a>
        <a href="{{url_for('posts')}}" class="nav-link">Posts</a>
        <a href="{{url_for('projects')}}" class="nav-link">Projects</a>
        <a href="{{url_for('about')}}" class="nav-link">About</a>
        </nav>
    </div>
    <div class="divs" id="welcome-div">
        <h2>Hi, I am Mohamed</h2>
        <p>Welcome to MBlog (Mohamed's Blog) ,Here You'll find Science. Computers. Space. My thoughts, projects, "researches", experiments — welcome to my digital lab.</br.></p>
    </div>
    <div class="divs" style="background-color: rgba(60, 137, 169, 0.295);">
        <h1 style="color: rgb(60, 66, 71); margin-top: 10px;">Insights</h1>
        {% for post in Wposts %}
        <div class="posts" style="margin-bottom: 20px; width: 93%;">
            <h2>{{ post[1] }}</h2>
            <p>{{ post[2] | truncate(450, True, '...')}} <button id="seemore" onclick="ScalePost('{{post[0]}}')">see more</button></p>
        </div>
        {% endfor %}
        <button onclick="window.location.href='/posts'">See more Posts</button>
    </div>
    <footer>© 2025 Mohamed — Built with ❤️ and HTML/CSS</footer>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>
