<!DOCTYPE html>
<html>
    <head>
        <title>Mposts</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="icon" href="{{ url_for('static', filename='favoritica.ico') }}">
    </head>
    <body>
    <div id="header" class="hero">
        <h1>MBlog</h1>
        <nav class="navbar">
        <a href="{{url_for('home')}}" class="nav-link" >Home</a>
        <a href="{{url_for('posts')}}" class="nav-link" id="current">Posts</a>
        <a href="{{url_for('projects')}}" class="nav-link">Projects</a>
        <a href="{{url_for('about')}}" class="nav-link">About</a>
        </nav>
    </div>

    <div id="postsdiv">
        {% for post in posts%}
        <div id='post-{{post[0]}}' class="posts">
        <h2>{{ post[1] }}</h2>
        <p>{{ post[2] | truncate(450, True, '...') }} <button id="seemore" onclick="ScalePost('{{post[0]}}')">See more</button></p>
        </div>
        {% endfor %}
        <hr>
    </div>

    <div style="display: flex; justify-content: space-between; width: 100%;">
        <button onclick="window.location.href='/'" style="right: 0; margin: 5px; margin-bottom: 10px;" class="topage">&lt; to homepage</button>
        <button onclick="window.location.href='/projects'" style="right: 0; margin: 5px; margin-bottom: 10px;" class="topage"> to projects &gt;</button>
    </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </body>
</html>
